body{
    background: #fff;
    width: 100%;
    height: 100vh;
    padding: 0px;
    border: none;

}
.nav-bar{
    width: 100%;
    height: 100px;
    background: #fff;
    color: #000;
    position: relative;
    display: inline-block;
    
}
.nav-bar ul li{
    list-style: none;
    position: relative;
    display: inline-block;
    margin-left: 220px;
}
.nav-bar ul li a{
    color: #000;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
    text-decoration: none;
}
.nav-bar ul li a:hover{
    transition: all 1s ease-in;
    text-decoration: underline red;

}
.body{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(4, 3, 30, 0.5),rgba(4, 3, 30, 0.5), url(image/img1.jpg)) ;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: rgba(4, 3, 30, 0.9);
    font-size: 30px;
    transition: background-image 2.5s;


}
.body-container{
    margin-top: 180px;
    position: absolute;
margin-left: 30px;

}
.service{
    width: 100%;
    height: 100vh;
    background: #fffdfd;
    margin-top: 0px;
    align-items: center;
    align-content: center;
    text-align: center;
color: #0c0b0b;
font-size: 18px;
font-family: sans-serif;
}
img{
    width: 250px;
    height: 300px;
}
.service-container{
    position: absolute;
    margin-left: 100px;
    margin-top: 30px;
}
.program1{
    width: 350px;
    height: 50vh;
    position: absolute;
    margin-top: 0px;
    justify-content: center;

}
.program2{
    width: 350px;
    height: 50vh;
    position: absolute;
    margin-top: 0px;
    justify-content: center;
    margin-left: 500px;
}
.program3{
    width: 350px;
    height: 50vh;
    position: absolute;
    margin-top: 0px;
    justify-content: center;
    margin-left: 900px;
}
.footer{
    background: rgb(1, 1, 51);
    width: 100%;
    height: 30vh;
    text-align: center;
    margin-top: 0px;
    position: absolute;
    color: white;

}
.zoom-image{
    transition: transform 0.3s;
}
.zoom-image:hover{
    transform: scale(1.2);

}
.thanks{
    width: 100%;
    height: 50px;
    background: rgb(163, 6, 150);
    color: hsl(0, 0%, 100%);
    font-family: sans-serif;
    font-size: 16px;
}
.thanks p{
    margin-top: 15px;
}
.img{
    width: 50px;
    height: 40px;

}
 a{
    text-decoration: none;
    color: #fff;
}
